.contact-us-single {

    background-color: #FFF;
    .cop-ck{
        label{
            font-size: .9rem;
            padding-top: 8px;
        }
        span{
            float: right;
        }
    }

}
.contact-us-single .cop-ck {

    padding: 20px 30px;

}
.contact-us-single .cop-ck h2 {

    font-size: 22px;
    margin-bottom: 20px;

}