{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<br>
<br><br>
    
    <form action="" method="POST" >{% csrf_token %}
             <br>
            
        {{form|crispy}}
        <h3>Are you sure you want to delete this solution</h3> <br>
            <h4><i>'{{obj}}'</i>?</h4> 
        
        <button class="btn btn-success"><a href="{% url 'solution_list' %}"> Go Back </a></button>
        <input type="submit" name= delete value="Delete">
<br>
<br>
          
    </form>
{% endblock %}
    
    
         
